#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers span.field-error {
  color: var(--color-title-in-primary);
}

#search-teachers button {
  background: var(--color-secundary);
  width: 100%;
  margin-top: 2.6rem;
  font-size: 2rem;
  height: 5.6rem;
  border-radius: 0.8rem;
  transition: background 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-teachers button img {
  width: 2.4rem;
  margin-right: 1.6rem;
}

#search-teachers button:hover {
  background: var(--color-secundary-dark);
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
  }

  #search-teachers .select-block + .select-block,
  #search-teachers .input-block + .input-block {
    margin-top: 0!important;
  }

  #page-teacher-list main {
    padding: 32px 0;
    max-width: 740px;
    margin: 0 auto;
  }

  #search-teachers button {
    margin-top: 3.2rem;
  }

  #search-teachers button img {
    margin: 0;
  }

  #search-teachers button span {
    display: none;
  }

  #search-teachers span.field-error {
    color: red;
  }
}
